<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here
num_duplicate_rows = df.duplicated().sum()
print('Number of duplicate rows:', num_duplicate_rows)

Number of duplicate rows: 154

In [44]:
num_du = df['Respondent'].duplicated().sum()
num_du

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [9]:
# your code goes here
df_no_duplicates = df.drop_duplicates()
df_no_duplicates.head()

(11398, 85)

In [62]:
### for the quiz
df_no_duplicates[df_no_duplicates['CompFreq'] == 'Yearly']['Respondent'].nunique()

6073

Verify if duplicates were actually dropped.

In [14]:
# your code goes here
num_rows_before = df.shape[0]
num_rows_after = df_no_duplicates.shape[0]

if num_rows_before == num_rows_after:
    print('No duplicates were found in the DataFrame')
else:
    print('Duplicates were removed from the DataFrame')

Duplicates were removed from the DataFrame

## Finding Missing values

Find the missing values for all columns.

In [16]:
# your code goes here
missing_values = df.isnull().sum()
missing_values

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       547
Ethnicity       683
Dependents      144
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [17]:
# your code goes here
num_missing_rows = df['WorkLoc'].isnull().sum()
num_missing_rows

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [22]:
# your code goes here
workloc_counts = df['WorkLoc'].value_counts()
print(workloc_counts)

Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [23]:
#make a note of the majority value here, for future reference
most_frequent_workloc = df['WorkLoc'].value_counts().index[0]
most_frequent_workloc

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [24]:
# your code goes here
df['WorkLoc'] = df['WorkLoc'].fillna(most_frequent_workloc)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [30]:
# your code goes here
if df['WorkLoc'].isnull().sum() == 0:
    print("Imputing of 'WorkLoc' column was successful")
else:
    print("Imputing of 'WorkLoc' column was not successful")

workloc_values_after = df['WorkLoc'].value_counts()
print(workloc_values_after)

Imputing of 'WorkLoc' column was successful
Office                                            6937
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

3

In [36]:
# your code goes here
categories = df['CompFreq'].unique()
categories

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [40]:
# your code goes here
def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None

df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)
df[['NormalizedAnnualCompensation','CompFreq','CompTotal']]

       NormalizedAnnualCompensation CompFreq  CompTotal
0                           61000.0   Yearly    61000.0
1                          138000.0   Yearly   138000.0
2                           90000.0   Yearly    90000.0
3                          348000.0  Monthly    29000.0
4                           90000.0   Yearly    90000.0
...                             ...      ...        ...
11547                      130000.0   Yearly   130000.0
11548                       74400.0   Yearly    74400.0
11549                      105000.0   Yearly   105000.0
11550                       80000.0   Yearly    80000.0
11551                           NaN      NaN        NaN

[11552 rows x 3 columns]

In [66]:
##for the quiz
df['NormalizedAnnualCompensation'].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).